
/* Elements */
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 1em !important;
}

div{
    width: 100%;
}


/* Bootstrap #1 - carosel */
.carousel-item{
    background-color: #a8dadc;
    text-align: center;
}

.carousel-item > img{
    margin: 0 auto;
}

.carousel-indicators{
    margin-left: 0px !important;
}

.carousel-inner{
    background-color: red;
}

/* Header */
#header{
    height: 200px;
    background-color: red;
    background-image: none; /* insert the video here */
}

#header-logo{
    width: 50%;
    float: left;
    background-color: green;
}

#header-nav{
    width: 50%;
    float: left;
    background-color: pink;
    /* text-align: right; */
}

.nav-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
}

#header-nav > div > label{
    display: none !important;
    cursor: pointer;
}

.nav-button{
    display: none;
}

#nav-toggle{
    display: none;
}

.nav-list-direction{
    flex-direction: row;
}

@media screen and (max-width: 991px){
    #header-nav > div > label{
        display: block !important;
    }

    #header-nav > div > label, ul{
        float: right;
    }

    .nav-button{
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        background-color: yellow;
    }

    #nav-toggle:checked ~ ul{
        display: block;
        clear: both;
    }

    .nav-list-direction{
        display: none;
        flex-direction: column;
    }
}

/* Content */

/* Footer */