/* Elements */
body{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-size: 1em !important;
}


/* ISSO ZUOU O TOOLTIP!!!!!! FDP
div{
    width: 100%;
} */

/* Bootstrap #1 - Navbar */
/* https://getbootstrap.com/docs/5.1/components/navbar/ */
.navbar-brand{
    margin-right: 0 !important;
}

.navbar-toggler{
    border-color: rgba(255,255,255, 0.5) !important;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.container-fluid{
    padding-left: 0 !important;
}

@media screen and (max-width: 992px){
    .nav{
        display: block !important;
    }
}


/* Bootstrap #2 - Carosel - Minor changes */
/* https://getbootstrap.com/docs/5.1/components/carousel/ */
.carousel-item{
    text-align: center;
}

.carousel-item img{
    margin: 0 auto;
}

.carousel-indicators{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.carousel-container{
    padding: 50px 0px 50px 0px;
    background-color: #f7f7f9;
    position: relative;
    z-index: auto;
}

/* Bootstrap #3 - Card */
/* https://getbootstrap.com/docs/5.1/components/card/ */
.card{
    margin: 0 auto;
    float: left;
    /* position: relative; */
}

/* Bootstrap #4 - Typography */
/* https://getbootstrap.com/docs/5.1/content/typography/ */
.display-2{
    z-index: 1;
    background-color: #f1faee;
}

/* Bootstrap #5 - Responsive Images */
/* https://getbootstrap.com/docs/5.1/content/images/#responsive-images */

/* Bootstrap #6 - Dropdown */
/* https://getbootstrap.com/docs/5.1/components/dropdowns/ */

/* Bootstrap #7 - Tooltips */
/* https://getbootstrap.com/docs/5.1/components/tooltips/ */

/* Bootstrap #8 -  Collapse Content */
/* https://getbootstrap.com/docs/5.1/components/collapse/ */

@media screen and (min-width: 665px) and (max-width: 760px){
    #header-video{
        height: calc(100vw - 375px) !important;
    }
}

@media screen and (max-width: 665px){
    #header-video{
        height: 280px !important;
    }
}

/* Header */
#header{
    background-color: #e63946;
}

#header-logo{
    width: 100px;
    float: left;
    border-style: none;
    padding: 11.5px 0px 11.5px 0px;
    background-color: #e63946;
    text-align: center;
}

#header-logo img{
    width: 50px;
}

/* Video */
#header-video{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-video-container{
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    position: absolute;
    /* z-index: -1; */
}

#header-video-container video{
    width: 100%;
}

.color-overlay{
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1faee;
    opacity: 0.6;
}

#header a{
    color: #f1faee;
    text-decoration: none;
    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

#header a:hover{
    color: #a8dadc;
    transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}

/* Content */
#content{
    width: 100%;
    /* overflow: auto; */
    /* clear: both; */
    /* text-align: center; */
    padding: 0px 0px 0px 0px;
    background-color: orange;
}

/* Footer */
#footer{
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 50px 0px 50px 0px;
    background-color: orchid;
}

.collapse.in { min-height: 50px;border: 1px solid blue; }
